
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    color:#332314;
}
body{
    background-color: #1a1c19;
    margin: 10px 30px;

}
/*---------------------------------------- Nav */
#navbar-logo{
    background-color: #333023;
    color:#e0d7c3;
    text-decoration: none;

}
.navbar-inner{
    border:1px solid #e0d7c3;   
}
.menu{
    border:1px solid #e0d7c3;
    background-color: #1a1c19;
    color:#e0d7c3;
}
.menu:hover{
    background-color: #e0d7c3;
    color:#1a1c19;
}
.middle{
    border: 1px solid #e0d7c3;
    text-align: center;
    text-decoration: none;
    color: #e0d7c3;
}
.middle:hover{
    background-color: #e0d7c3;
    color: #1a1c19;
}
/* ------------------------------firstcard */
#firstcard{
    background-color: #e0d7c3;
    border-radius: 30px;
}
#firstcardimg{
    border-radius: 30px;
}
#secondcard{
    background-color: #8f8868;
    border-radius: 30px;
}
#secondcardimg{
    border-radius: 30px;
}
.card-top-span{
    border: 1px solid;
    border-radius: 30px;
    padding: 1px 2px;
}
#thirdcard{
    background-color: #966b54;
    border-radius: 30px;
}
#thirdcardimg{
    border-radius: 30px;
}
#portrait{
    font-size: 60px;
    font-weight: bold;
}
#forthcard{
    background-color: #b5a38d;
    border-radius: 30px;
}
.forthcardhr{
    border:2px solid #332314;
    margin-top: 5px;
}
.mx-n1 {
    margin-left:-1.50rem !important;
    margin-right:-1.50rem !important;
  }